/* Estilos para el footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto; /* Cambiado de 300px a auto */
    background-color: #333;
    color: aliceblue;
    padding: 20px; /* Añadido padding para que no quede pegado a los bordes */
    flex-wrap: wrap; /* Permite que los elementos se acomoden cuando no haya suficiente espacio */
}

/* Ajustes en el lado izquierdo del footer */
.left-side {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px; /* Ajustado para mayor flexibilidad */
}

/* Estilos para las redes sociales */
.social-media {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.social-item {
    display: flex;
    margin-top: 8px;
}

.social-item > img {
    width: 40px;
    margin-right: 30px;
}

/* Ajustes en la parte de soporte técnico */
.technical-service {
    width: 250px;
}

.technical-service > p {
    margin-top: 12px;
}

/* Ajustes en el lado derecho del footer */
.right-side {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Añadido para asegurar que los elementos se ajusten en pantallas pequeñas */
}

.logo-footer {
    height: 40px;
    margin-left: 70px;
}

/* Estilo para los enlaces del footer */
.info {
    margin-top: 50px;
    margin-left: 110px;
}

.info > p {
    margin-top: 10px;
}

/* Responsividad para dispositivos pequeños */
@media screen and (max-width: 767px) {
    .left-side, .right-side {
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
        margin-left: 0;
        height: 30px; /* Ajustado para pantallas pequeñas */
    }

    .social-item > img {
        width: 30px; /* Reducción del tamaño de los iconos en pantallas pequeñas */
        margin-right: 15px;
    }

    .info {
        margin-left: 0;
        margin-top: 20px;
    }
}

