/* Estilo para el contenedor del encabezado */
header {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: relative;
    width: 100%; /* Se ajusta al 100% del ancho */
    object-fit: cover;
}

/* Contenedor flex para el título y la imagen */
.prese {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Estilo para el título h1 */
.prese h1 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 1.5em;
}

/* Ajuste para el contenedor SVG */
.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Estilo general para los botones */
button {
    width: 80px;
    height: 60px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Estilo para el logo */
.logo img {
    width: 150px;
    height: auto;
    max-width: 100%; /* Asegura que el logo no sobrepase el contenedor */
}

/* Contenedor para los botones del menú */
.menu-buttons {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* Menú de navegación */
.nav-list {
    background-color: #333;
    font-size: large;
    height: 78vh;
    display: none;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 215px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* Mostrar menú al hacer clic */
.nav-list.open {
    display: flex;
    transform: translateX(0);
    background-color: #333;
}

.nav-list ul {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    margin-left: 20px;
}

.nav-list li {
    margin-bottom: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Ajuste para el logo en el menú de navegación */
.logo2 img {
    width: 200px;
    margin-top: 85px;
}

#Cerrar {
    margin-left: 50px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 797px) {
    .menu-buttons {
        display: flex;
    }

    .nav-list {
        display: none;
    }

    .nav-list.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo img {
        display: none;
    }

    .nav-list li a {
        color: white;
    }
}
