.fondo{
    display: flex;
    width: 100vw; /* Ocupa el ancho completo de la pantalla */
    height: 100vh; /* Ocupa el alto completo de la pantalla */
    object-fit: cover; /* Cubre toda la pantalla, recortando si es necesario */
}

